{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>habito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <header class="main-header">
        <h1>Welcome to habito</h1>
    </header>

    <div>
        {% for habit in habits %}
        <div class="habit-tracker" style="background-color: {{ habit.colour }};">
            <a><strong>{{ habit.name }}</strong></a>

            <div class="daily-button-container">
                <div class="daily-button unclicked" id="{{ habit.name }}Button1"></div>
                <div class="daily-button unclicked" id="{{ habit.name }}Button2"></div>
                <div class="daily-button unclicked"></div>
                <div class="daily-button unclicked"></div>
                <div class="daily-button unclicked"></div>
                <div class="daily-button deactivated"></div>
                <div class="daily-button unclicked" id="testbutton"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>